.contentBlockSection {
  margin-bottom: 3.5rem;
}

.headline {
  text-align: center;
}

.hasImage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.image {
  max-width: 14rem;
}

.horizontalRule {
  margin-top: 4rem;
}

@media (min-width: 768px) {
  .hasImage {
    flex-direction: row;
  }

  .hasImage > div {
    order: 1;
  }

  .image {
    order: 2;
  }
}
