.header {
  background-color: #d9534f;
}

.headerNavLink {
  color: white !important;
  text-transform: uppercase;
}

.logoText {
  font-family: "Nanum Gothic", sans-serif;
  margin-bottom: 0;
  color: white;
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  .logoText {
    display: none;
  }
}
