.header {
  background-color: #d9534f;
}

.headerNavLink {
  color: white !important;
  text-transform: uppercase;
}

.dropdownLinksBtn:active {
  background-color: #f5f5f5 !important;
}

.dropdownLinks:hover {
  color: #d9534f;
  text-decoration: none;
}

.logoText {
  font-family: "Nanum Gothic", sans-serif;
  margin-bottom: 0;
  color: white;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .logoText {
    display: none;
  }
}
