.orientationSection {
  margin-bottom: 3.5rem;
}

.orientationTable {
  display: flex;
  flex-direction: column;
}

.orientationTable p,
.orientationTable h4,
.orientationSection h2 {
  text-align: center;
}

.removeMargin {
  margin-bottom: 0;
}

.finePrint {
  max-width: 20rem;
}

@media (min-width: 768px) {
  .orientationTable {
    flex-direction: row;
    justify-content: space-around;
  }
}
